{% extends "base.html" %}


{% block content %}
  <div class="flex bg-accent-200 justify-center items-center h-screen">
    <div class="text-dark p-4 bg-primary rounded-3xl w-max">
      <p class="font-bold text-3xl mb-3 ml-3">Add student or parents</p>
      <form method="post" class="form flex flex-col gap-3" action="{% url 'add_student' %}">
        {% csrf_token %}
        <div class="flex flex-row content-stretch gap-3">
          {{ form.non_field_errors }}
          {{ form.name }}
          {{ form.surname }}
        </div>
        <div class="flex flex-col gap-3">
          {{ form.email }}
          {{ form.password1 }}
          {{ form.password2 }}
        </div>
        <div class="">
          {{ form.user_type }}
        </div>
        <button type="submit" name="submit"
          class="bg-secondary hover:bg-accent-100 text-dark font-bold py-2 px-4 rounded mx-4 mt-4">
          Create
        </button>
      
      </form>
    </div>
  </div>
{% endblock content %}